* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.hero {
  height: 90vh;
  background: linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ),
    url("images/hero.jpg") center/cover;
  display: flex;
  align-items: center;
  padding: 60px;
}

.hero-content {
  color: white;
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.btn {
  display: inline-block;
  padding: 14px 28px;
  background: #c89b3c;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.sobre {
  padding: 80px 10%;
}

.container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.container img {
  width: 320px;
  border-radius: 12px;
}

.servicos {
  background: #111;
  color: white;
  padding: 80px 10%;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 40px;
}

.card {
  padding: 30px;
  background: #1c1c1c;
  border-radius: 12px;
}

.ambiente {
  padding: 80px 10%;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.galeria img {
  width: 100%;
  border-radius: 12px;
}

.cta {
  background: #c89b3c;
  padding: 80px 10%;
  text-align: center;
}
